:root {
  --yellow: #fec008;
  --black: #212429;
  --green: #18a2b7;
  --title: #6c747d;
  --main: #353941;
  --nav-color: #f7f9fb;

  --body-fonts: 'Roboto', sans-serif;
  --skills: #017afd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--title)
}

/*---------------Header-----------*/

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--nav-color);
  flex-wrap: wrap;
  width: 100%;
  height: 4.5rem;
}
header h1{
  margin-right: auto;
  margin-left: 0.2rem;

}
header img{
  width: 3rem;
  margin-left: 1rem;
  margin-right: 0;

}
.nav-links{
  display: flex;
  margin-right: 2rem;
  padding: .6rem;

}
.nav-links li {
  list-style: none;
  padding: 0 1rem;
}
.nav-links li a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main);
}

.hamburger{
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.hamburger:focus{
  outline: none;
}

/* ----MAIN SECTION----- */
#main-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width: 70%;
}

.avtar img {
  width: 200px;
}

.avtar h2 {
  text-align: center;
  color: var(--title);
  font-size: 2rem;
  padding: .5rem;
}

.About {
  width: 65%;
  /* padding: 0 .5rem; */
}
#about{
  transition: all 0.9s;
}
.para {
  padding-bottom: 1rem;
}

/* SOCIAL ICONS */
.social .btn {
  text-decoration: none;
  color: var(--nav-color);
  background-color: var(--green);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fab {
  padding: .5rem .3rem;
  font-size: 1.5rem;
  /* color: var(--yellow); */
  /* border: 1px solid red; */
}

/* .fa-facebook{ */
/*  background-color: var(--facebook);
 }
 .fa-instagram{
 background-color: red;
 } */


/* ------SKILLS SECTION----- */

#skills h1 {
  text-align: center;
  color: var(--skills);
  margin: 1rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  height: 23rem;

}
.skills-container h2{
   padding-bottom: 1rem;
}

.python {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  background-color: var(--yellow);
  height: 17rem;
  width: 33.3%;
  margin: 15px;
  border-radius: .8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.robot {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  background-color: var(--yellow);
  height: 17rem;
  width: 33.3%;
  margin: 15px;
  border-radius: .8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  background-color: var(--yellow);
  height: 17rem;
  width: 33.3%;
  margin: 15px;
  border-radius: .8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icon {
  font-size: 3rem;
  margin-top: -50px;
  padding-bottom: 20px;
}

/*------FOOTER-------*/
#footer-container{
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
}
#footer-container img{
  width: 2rem;
}
#footer-container p{
  padding: .5rem;
}


/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 575px) {
  .hamburger{
    display: block;
    margin-right: 1rem;
  }
  header h1{
    font-size: 1rem;
    
  }
  header img{
    width: 2rem;
  }
  #nav-Ul{
    display: none;
  }
  #nav-Ul.show{
   display: flex;
   width: 100%;
  }
  .nav-links li a{
    font-size: 1rem;
  }
#about {
  transition: all 0.9s;
}
#main-section{
  flex-direction: column;
  margin: 2rem auto 2rem auto;
}
.avtar img{
  width: 230px;
  padding-left: 3rem;
}
.About{
  width: 100%;
  text-align: justify;
}
.para{
    font-size: .9rem;
    color: var(--black);

}
  .skills-container{
  flex-direction: column;
  width: 80%;
  height: 55rem;
}
.python, 
.robot, 
.html
{
width: 70%;
height: 60%;
}

.icon{
  font-size: 1.5rem;
}
.fa-robot{
  padding-top: 1.2rem;
}
}




